@font-face {
  font-family: 'SmileySans';
  font-style: normal;
  src: url('/assets/font/SmileySans-Oblique.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: HarmonyOS Sans;
  src: url(/assets/font/HarmonyOS_Sans_Regular.ttf) format('truetype');
  font-feature-settings: 'ss08';
  font-weight: 500;
}

@font-face {
  font-family: HarmonyOS Sans Thin;
  src: url(/assets/font/HarmonyOS_Sans_Thin.ttf) format('truetype');
  font-feature-settings: 'ss08';
  font-weight: 300;
}
@font-face {
  font-family: HarmonyOS Sans Bold;
  src: url(/assets/font/HarmonyOS_Sans_Bold.ttf) format('truetype');
  font-feature-settings: 'ss08';
  font-weight: 700;
}
@font-face {
  font-family: HarmonyOS Sans Black;
  src: url(/assets/font/HarmonyOS_Sans_Black.ttf) format('truetype');
  font-feature-settings: 'ss08';
  font-weight: 900;
}
